<div class="main-content" id="thanks">
  <header>
    <h1>Thank You</h1>
  </header>
  <section>
    <div class="graphic graphic-checkbox"></div>
    <p>Survey Complete. You will be redirected shortly.</p>
  </section>
</div>
