
<div id="consent">
  <header>
    <h1>Study Consent Form</h1>
  </header>
  <section>
<h2>Purpose</h2>
<p>This study is a joint collaboration between Mozilla Inc. and Indiana University.</p>

<p>Today you will be testing the account creation process for Cloudly, a new cloud storage service. Please note that data you provide is confidential – only aggregate data will be shared outside the research team.</p>
<h2>Procedure</h2>
<p>During this study, you will be asked to create a Cloudly account, then answer questions about the sign up process. When you sign up, we will collect <u>metadata</u> about the password you create (such as how complex it is), but we will <u>not</u> retain your password.</p>
<h2>Use and Confidentiality of Data</h2>

<p>The data collected in this survey will be</p>
<ul>
<li>Answers to survey questions</li>
<li>Demographic data (age, gender, education level, etc)</li>
<li>Metadata on the complexity of the password you choose (length, complexity, etc.)</li>
</ul>

<p>We will analyze the data collected to drive the design of better password creation interfaces. We will keep your data confidential. Further, we do not collect any personally identifiable information on participants, so we have no way to identify which participant provided which responses to our survey.</p>
<p>Anonymous textual or numerical data from this study may be included in reports, research-related presentations/publications, and/or public presentations/publications.</p>
<h2>Benefits and Risks</h2>
<p>You will earn $5 for participating in this study. We foresee no risks associated with this survey.</p>
<h2>Freedom to withdraw</h2>
<p>You are free to withdraw from this study at any time by closing your browser window. If you have further questions, you may contact the study designer at gnorcie@mozilla.com. If you have any concerns at any time about your participation in this study or wish to report any objections or concerns about the conduct of the study, please report them either orally or in writing to the Indiana University Institutional Review Board.</p>
<p>For questions about your rights as a research participant or to discuss problems, complaints or concerns about a research study, or to obtain information, or offer input, contact the IU Human Subjects Office at (812) 856-4242 [for Bloomington] at (317) 278-3458 or [for Indianapolis] or (800) 696-2949, or by email at irb@iu.edu.
</p>
<br>
<div class="error"></div>
<div class="survey-element" id="cs_1">
  <p>In order to participate in this study you must be 18 years old. Are you 18 years old or older?</p>
    <input type="radio" name="cs_1" value="1" id="yes1"/><label for="yes1">&nbsp;Yes</label><br>
    <input type="radio" name="cs_1" value="2" id="no1"/><label for="no1">&nbsp;No</label>
</div>

<div class="survey-element" id="cs_2">
  <p>Do you consent to participation in the study?</p>
    <input type="radio" name="cs_2" value="1" id="yes2"/><label for="yes2">&nbsp;Yes</label><br>
    <input type="radio" name="cs_2" value="2" id="no2"/><label for="no2">&nbsp;No</label>
</div>



    <div class="button-row">
      <button id="submit-btn">Get started</button>
    </div>
</section>
</div>
