 <div class="main-content" id="follow_up1">
    <header>
      <h1>Survey 3/5</h1>
    </header>
    <section>
      <!-- <form nonvalidate> -->
      <div class="error"></div>
        <div class="survey-element" id="demo_one">
          <div class="select-row-wrapper">
            <p>Where do you live</p>
            <div class="select-row">
              <select id="location">
                <option id="fxa-none" value="none">Select a state</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
              </select>
            </div>
          </div>
        </div>

        <div class="survey-element" id="demog_1">
          <p>What is the highest degree or level of school you have completed? If currently enrolled, mark the highest degree received.</p>
            <ul>
            <li><input type="radio" name="d_1" value="0" id="d_0"/><label for="d_0">&nbsp;No schooling completed</label></li>
            <li><input type="radio" name="d_1" value="1" id="d_1"/><label for="d_1">&nbsp;Nursery school to 8th grade</label></li>
            <li><input type="radio" name="d_1" value="2" id="d_2"/><label for="d_2">&nbsp;Some high school, no diploma</label></li>
            <li><input type="radio" name="d_1" value="3" id="d_3"/><label for="d_3">&nbsp;High school graduate or equivalent</label></li>
            <li><input type="radio" name="d_1" value="4" id="d_4"/><label for="d_4">&nbsp;Some college credit, no degree</label></li>
            <li><input type="radio" name="d_1" value="5" id="d_5"/><label for="d_5">&nbsp;Trade/technical/vocational training</label></li>
            <li><input type="radio" name="d_1" value="6" id="d_6"/><label for="d_6">&nbsp;Associate degree</label></li>
            <li><input type="radio" name="d_1" value="7" id="d_7"/><label for="d_7">&nbsp;Bachelor’s degree</label></li>
            <li><input type="radio" name="d_1" value="8" id="d_8"/><label for="d_8">&nbsp;Master's degree</label></li>
            <li><input type="radio" name="d_1" value="9" id="d_9"/><label for="d_9">&nbsp;Professional degree</label></li>
            <li><input type="radio" name="d_1" value="10" id="d_10"/><label for="d_10">&nbsp;Doctorate degree</label></li>
            </ul>
        </div>

        <div class="survey-element" id="demog_2">
            <p>What is your total household income?</p>
            <ul>
            <li><input type="radio" name="d_2" value="0" id="d_99"/><label for="d_99">&nbsp;$0-$14,999</label></li>
            <li><input type="radio" name="d_2" value="1" id="d_11"/><label for="d_11">&nbsp;$15,000-$34,999</label></li>
            <li><input type="radio" name="d_2" value="2" id="d_12"/><label for="d_12">&nbsp;$35,000-$49,999</label></li>
            <li><input type="radio" name="d_2" value="3" id="d_13"/><label for="d_13">&nbsp;$50,000-$64,999</label></li>
            <li><input type="radio" name="d_2" value="4" id="d_14"/><label for="d_14">&nbsp;$65,000-$74,999</label></li>
            <li><input type="radio" name="d_2" value="5" id="d_15"/><label for="d_15">&nbsp;$75,000-$99,9999</label></li>
            <li><input type="radio" name="d_2" value="6" id="d_16"/><label for="d_16">&nbsp;$100,000 or more</label></li>
        </div>
        <div class="button-row">
          <button id="submit-btn">Next</button>
        </div>
      <!-- </form> -->    
    </section>
  </div>
