<div class="main-content" id="intro">
  <header>
    <h1>Welcome to Cloudly</h1>
  </header>
  <section>
    <p>Cloudly is a web app that securely syncs your important private data between your desktop and mobile devices.</p>

    <p>In the following screen(s) you will be testing the sign up process for a Cloudly account.</p>

    <div class="button-row">
      <button id="submit-btn">Get started</button>
    </div>
  </section>
</div>
