<div class="main-content">
  <div class="flow passphrase" id="pp_2" data-top="-250px">
    <p class="intro"> Instead of thinking of a jumble of letters, numbers and symbols, use a string of words to make your password.</p>
    <div class="bunch">
    <label>For example:</label>

    <div class="input-row">
      <input type="text" value="correct" disabled="true" />
    </div>

    <div class="input-row">
      <input type="text" value="horse" disabled="true" />
    </div>

    <div class="input-row">
      <input type="text" value="battery"  disabled="true" />
    </div>

    <div class="input-row">
      <input type="text" value="staple" disabled="true" />
    </div>

    <label>Becomes a passphrase:</label>

    <div class="input-row">
      <input type="text" class="ppi_1" placeholder="Email" value="correct horse battery staple" autofocus required disabled="true" />
    </div>

    <label>Use seperators other than spaces to add some complexity:</label>

    <div class="input-row">
      <input type="text" class="ppi_2" placeholder="Email" value="correct%horse%battery%staple" autofocus required disabled="true" />
    </div>

    <label>Then for extra security, substitute numbers and symbols for letters:</label>

    <div class="input-row">
      <input type="email" class="email ppi_3" placeholder="Email" value="c0rrect%horse%b@ttery%stap1e" autofocus required disabled="true" />
    </div>
    </div>
    <div class="button-row">
      <button id="submit-btn" type="submit">Make a passphrase</button>
    </div>
  </div>
</div>
