<div class="main-content">
  <div class="flow passphrase" id="pp_3" data-top="-250px">
    <p label class="intro">Now you can make your own passphrase. Type in one below.</p> 
      <div class='bunch'>
    <label>Your passphrase must have at least 4 words.</label>

    <div class="input-row">
      <input type="email" class="email" placeholder="first word" value="" autofocus required />
    </div>

    <div class="input-row">
      <input type="email" class="email" placeholder="second word" value="" autofocus required />
    </div>

    <div class="input-row">
      <input type="email" class="email" placeholder="third word" value="" autofocus required />
    </div>

    <div class="input-row">
      <input type="email" class="email" placeholder="fourth word" value="" autofocus required/>
    </div>
    <a href="" style="display:block;text-align:center; margin: 0 0 10px 0;text-decoration:none">+ add a word</a>

     <label>Becomes a passphrase:</label>

    <div class="input-row">
      <input type="text" class="ppi_1" value="correct horse battery staple" autofocus required disabled="true" />
    </div>

    <label>Use seperators other than spaces to add some complexity:</label>

    <div class="input-row">
      <input type="text" class="ppi_2" value="correct%horse%battery%staple" autofocus required disabled="true" />
    </div>

    <label>Then for extra security, substitute numbers and symbols for letters:</label>

    <div class="input-row">
      <input type="email" class="email ppi_3" value="c0rrect%horse%b@ttery%stap1e" autofocus required disabled="true" />
    </div>
    </div>
    <div class="button-row">
      <button id="submit-btn">Done</button>
    </div>
  </div>
</div>
