<div class="main-content">
  <div class="flow passphrase" id="pp_4" data-top="-250px">
    <p>Now you have a passphrase:</p>

    <div class="input-row">
      <input type="email" class="email ppi_1" placeholder="" value="" autofocus required disabled="true" />
    </div>

    <p>Use seperators other than spaces to add some complexity:</p>

    <div class="input-row">
      <input type="email" class="email ppi_2" placeholder="" value="" autofocus required disabled="true" />
    </div>

    <p>Then for extra security, substitute numbers and symbols for letters:</p>

    <div class="input-row">
      <input type="email" class="email ppi_3" placeholder="" value="" autofocus required disabled="true" />
    </div>

    <p>Type the passphrase you created into the password box. Be sure to remember your passphrase - you'll need it to access your Cloudly Account.</p>
  </div>
</div>
