      <div id="test-wrapper">
        
        <div id="mnemonic" class="modal-wrapper">
          <div class="modal mne" id="mne_1" data-top="-100px">
            <p><strong>A strong password consists of letters, numbers and symbols.</strong></p>
            <p>One way to create a strong, memorable password is use the first letters of a phrase.</p>
            <div class="button-row" data-top:"-250px">
              <button class="test-button">Try it out - click here!</button>
            </div>
          </div>
          
          

          <div class="modal mne" id="mne_3" data-top="-250px">
            <p>Now it's your turn!</p> 

            <p>Enter your phrase below. You can use a phrase from a movie or song, or even better - you can make your own!</p>
            <p class="ta_sim">
              write a sentence here &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>

            <p>Use first letters of each word:</p>
            <p class="ta_sim">
              <br><br>
            </p>

            <p>And make a password out of them:</p>
            <div class="input-row">
              <input type="email" class="email"  autofocus required disabled="true" />
            </div>
            <p>Then add symbols for extra security:</p>
            <div class="input-row">
              <input type="email" class="email"  autofocus required disabled="true" />
            </div>
            <p>Type the password you created into the password box. Be sure to remember your password - you'll need it to access your Cloudly Account.</p>
            <div class="button-row">
              <button id="test-button" class="final">Try it!</button>
            </div>
          </div>
        </div>

          

          

      </div>

