<div class="main-content" id="follow_up0">
    <header>
      <h1>Survey 4/5</h1>
    </header>
    <section>
        <div class="error"></div>
        <div class="survey-element input-row">
          <label>How many desktop computers do you own or regularly use?</label><input type="text" maxlength="2" placeholder="#"/>
        </div> 
        <div class="survey-element input-row">
          <label>How many laptop computers do you own or regularly use?</label><input type="text" maxlength="2" placeholder="#"/>
        </div>   
        <div class="survey-element input-row">
          <label>How many smartphones do you own or regularly use?</label><input type="text" maxlength="2" placeholder="#"/>
        </div>

        <div class="survey-element input-row">
          <label>How many tablets or other mobile devices do you own or regularly use?</label><input type="text" maxlength="2" placeholder="#"/>
        </div>

        <div class="button-row">
          <button id="submit-btn">Next</button>
        </div>
    </section>
  </div>
