 <div class="main-content" id="follow_up1">
    <header>
      <h1>Survey 5/5</h1>
    </header>
    <section>
      <!-- <form nonvalidate> -->
      <div class="error"></div>
        <div class="likert survey-element" id="cs_1">
          <p>How familiar are you with computer science?</p>
          <ul>
            <li class="text less">not<br>familiar</li>
            <li><label for="cs_l_0"><input id="cs_l_0" type="radio" name="cs_1" value="0" />1</label></li>
            <li><label for="cs_l_1"><input id="cs_l_1" type="radio" name="cs_1" value="1" />2</label></li>
            <li><label for="cs_l_2"><input id="cs_l_2" type="radio" name="cs_1" value="2" />3</label></li>
            <li><label for="cs_l_3"><input id="cs_l_3" type="radio" name="cs_1" value="3" />4</label></li>
            <li><label for="cs_l_4"><input id="cs_l_4" type="radio" name="cs_1" value="4" />5</label></li>
            <li class="text more">very<br>familiar</li>
          </ul>
        </div>

        <div class="likert survey-element" id="cs_2">
          <p>How familiar are you with computer security?</p>
          <ul>
            <li class="text less">not<br>familiar</li>
            <li><label for="cs_l_5"><input id="cs_l_5" type="radio" name="cs_2" value="0" />1</label></li>
            <li><label for="cs_l_6"><input id="cs_l_6" type="radio" name="cs_2" value="1" />2</label></li>
            <li><label for="cs_l_7"><input id="cs_l_7" type="radio" name="cs_2" value="2" />3</label></li>
            <li><label for="cs_l_8"><input id="cs_l_8" type="radio" name="cs_2" value="3" />4</label></li>
            <li><label for="cs_l_9"><input id="cs_l_9" type="radio" name="cs_2" value="4" />5</label></li>
            <li class="text more">very<br>familiar</li>
          </ul>
        </div>

        <div class="survey-element input-row">
          <p>What did you <strong>like</strong> about the interface you just used to create a password?</p><textarea rows="4"></textarea>
        </div>

        <div class="survey-element input-row">
          <p>What did you <strong>dislike</strong> about the interface you just used to create a password?</p><textarea rows="4"></textarea>
        </div>

        <div class="button-row">
          <button id="submit-btn">Next</button>
        </div>
      <!-- </form> -->    
    </section>
  </div>
