<div class="main-content">
  <div class="flow mne" id="mne_2" data-top="-250px">
    <p class="intro-tweak">Use the first letters of words in a sentence to help make a strong, memorable password.</p>
    
    <div class="bunch">
    <label>For example, start with a sentence:</label>
    <textarea class='mne-textarea' disabled="true">Remembering passwords is hard. I want a better way.</textarea>


    <label>Use first letters of each word:</label>
     <p class="ta_sim">
      <span>Remembering</span> 
      <span>passwords</span> 
      <span>is</span> 
      <span>hard.</span> 
      <span>I</span> 
      <span>want</span> 
      <span>a</span> 
      <span>better</span> 
      <span>way.</span>
    </p>

    <label>And make a password out of them:</label>
    <div class="input-row">
      <input type="text" class="ppi_2" value="RpihIwabw" disabled="true" />
    </div>
    <label>Then add symbols for extra security:</label>
    <div class="input-row">
      <input type="text" class="ppi_3" value="RpihIw@bw" disabled="true" />
    </div>

    </div>
        <div class="button-row">
      <button id="submit-btn">Try it!</button>
    </div>
  </div>
</div>
