<div class="main-content">
  <div class="flow mne" id="mne_2" data-top="-250px">
    <p class="intro">Enter your phrase below. You can use a phrase from a movie or song, or even better - you can make your own!</p>
    <div class="error">Use at least eight words.</div>
    <div class="bunch">
      <label>Use at least 8 words:</label>
      <textarea class='mne-textarea' autofocus></textarea>

      <div class="flow-hidden">
        <label>Use first letters of each word:</label>
        <p class="ta_sim">
        </p>

        <label>And make a password out of them:</label>
        <div class="input-row">
          <input type="text" class="ppi_2" disabled="true" />
        </div>

        <label>Then add symbols for extra security:</label>
        <div class="input-row">
          <input type="text" class="ppi_3" disabled="true" />
        </div>

      </div>
    </div>
        <p class="intro flow-hidden">Click Next to use your new password.</p>
    <div class="button-row">
      <button id="submit-btn">Next</button>
    </div>
  </div>
</div>
