<div class="main-content">
  <div class="flow passphrase" id="pp_2">

    <p class="intro"> Instead of thinking of a jumble of letters, numbers and symbols, use a string of words to make your password.</p>
    
    <div class="bunch">
      <label>Start with four words:</label>

      <div class="input-row">
        <input type="text" value="correct" disabled="true" />
      </div>

      <div class="input-row">
        <input type="text" value="horse" disabled="true" />
      </div>

      <div class="input-row">
        <input type="text" value="battery"  disabled="true" />
      </div>

      <div class="input-row">
        <input type="text" value="staple" disabled="true" />
      </div>


      <label>These words become a passphrase:</label>

      <div class="input-row">
        <input type="text" class="ppi_1" value="correct horse battery staple" disabled="true" />
      </div>

        <label>Avoid spaces to make it stronger:</label>

      <div class="input-row">
        <input type="text" class="ppi_2" value="correct%horse%battery%staple"disabled="true" />
      </div>

      <label>For extra strength, mix in numbers and symbols:</label>

      <div class="input-row">
        <input type="text" class="email ppi_3" value="c0rrect%horse%b@ttery%stap1e" disabled="true" />
      </div>

    <div class="button-row">
      <button id="submit-btn" type="submit">Make a passphrase</button>
    </div>

  </div>
</div>
